# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and dependency files
node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.development
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows thumbnail cache files
Thumbs.db

# Dependency lock files
package-lock.json
yarn.lock

# Test coverage directories
coverage

# Cache and temp directories
.cache
temp